---
interface SeoProps {
	title: string;
	description: string;
}

const { title, description } = Astro.props as SeoProps;
---

<title>
	{title}
</title>
<meta name="generator" content={Astro.generator} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<meta name="twitter:description" content={description} />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={title} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@GitShark" />
<meta property="og:image" content="https://gitshark.dev/share_image.png" />
<meta name="twitter:image" content="https://gitshark.dev/share_image.png" />
<slot />
