---
// import { SharkBackground } from "../shark-background"
// import { PlayPauseBackground } from "../play-pause-background"
import styles from "./header-sheet.module.scss";
// import React from "react"
import sharkHeader from "../../../public/shark_header.png";
import SharkBackground from "../shark-background/shark-background.astro";
---

<div style={{ minHeight: "100vh" }}>
	<div class={styles.sharkBackground}>
		<SharkBackground />
	</div>
	<div class={styles.sharkHeader}>
		<img src={sharkHeader} alt={"GitShark"} />
		<!-- <PlayPauseBackground
          class={styles.playPauseIndexBtn}
          isPaused={isBGPaused}
          toggle={() => setIsBGPaused(v => !v)}
		/> -->
	</div>
	<div class={styles.bodySheetSpacer}></div>
	<div class={styles.bodySheet}>
		<slot />
		<div class={styles.termSheet}>
			<a href={"/"}>Home</a>
			<a href={"/terms"}>Terms and Conditions</a>
			<a href={"/privacy"}>Privacy Policy</a>
		</div>
		<div class={styles.disclaimer}>
			<p>Google Play and the Google Play logo are trademarks of Google LLC.</p>
		</div>
	</div>
</div>
